{% extends "login.html"%}

{% block mdpoublie %}

    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    
                  </span>
                </a>
              </div>
              <!-- /Logo -->

                    
                    <!-- /Logo -->
                    <h4 class="mb-2">Mot de passe oublie? 🔒</h4>
                    <p class="mb-4">Entrer votre email et on va vous envoyez des instructions pour trouver votre mot de passe </p>
                    <form id="formAuthentication" class="mb-3" method="POST">
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Enter your email"
                          autofocus
                        />
                      </div>
                      <button class="btn btn-primary d-grid w-100">Envoyer</button>
                    </form>
                    <div class="text-center">
                      <a href="/login" class="d-flex align-items-center justify-content-center">
                        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                        Back to login
                      </a>
                    </div>
                  </div>
                
                </div>
                </div>
                </div>
                </div>

              </div>
              </div>
              </div>
              </div>


          {% endblock mdpoublie %}          
