{% extends "home-candidat.html" %}

{% block title%} 
  Offres emplois
{% endblock %}


{% block tableau_de_bord %} class="menu-item" {% endblock %}
{% block offres_emploi %} class="menu-item active" {% endblock %}


          {% block content %}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Lists de offres d'emplois</h4>

              <!-- Basic Bootstrap Table -->
              <!-- <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="2">
                  <a href="ajouter-offre.html" style="color: black;">
                    <span class="d-none d-sm-block">Ajouter une offre</span>
                  </a>
                  
                </label>
              </div> -->
            
              <!--/ Basic Bootstrap Table -->



              <!-- Bootstrap Dark Table -->

              <!--/ Bootstrap Dark Table -->


              <!-- Bootstrap Table with Header - Dark -->

              <!--/ Bootstrap Table with Header Dark -->


              <!-- Bootstrap Table with Header - Light -->

              <!-- Bootstrap Table with Header - Light -->


              <!-- Bootstrap Table with Header - Footer -->

              <!-- Bootstrap Table with Header - Footer -->

              <!-- Bootstrap Table with Caption -->

              <!-- Bootstrap Table with Caption -->


              <!-- Striped Rows -->

              <!--/ Striped Rows -->

              <!-- Bordered Table -->

              <!--/ Bordered Table -->

              <!-- Borderless Table -->

              <!--/ Borderless Table -->

              <!-- Hoverable Table rows -->

              <!--/ Hoverable Table rows -->

              <!-- Small table -->


              <!--/ Small table -->

              <!-- Contextual Classes -->


              <!--/ Contextual Classes -->

              <!-- Table within card -->

              <!--/ Table within card -->

              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

            <!-- Footer -->
          
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    {% endblock  %}


 

    